@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Mukta&family=Nunito&family=Playfair+Display:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #9BA3EB;
  width: 100%;
  height: 100%; }

.grilla {
  list-style-type: none;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 25px;
  background-color: #646FD4; }
  .grilla li a {
    text-decoration: none;
    color: #DBDFFD; }

li:hover {
  background: blue;
  transition: all 1s; }

.orden {
  max-width: 100%;
  margin: 15px;
  border-radius: 5px;
  display: flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px; }
  @media (hover: hover) {
    .orden .card:hover {
      transform: translateY(-15px);
      transition: all 1s; } }
  .orden-body {
    width: 300px;
    height: 200px; }
  .orden .card-text {
    text-align: center;
    font-size: 20px;
    color: black; }

.card {
  box-shadow: 1px 2px 1px;
  color: grey;
  width: 30rem; }

.check {
  display: flex;
  justify-content: center; }

.lbl {
  display: inline-block;
  width: 65px;
  height: 33px;
  background: #979797;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  transition: .4s;
  box-shadow: 1px 1px 2px; }

.lbl::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background: #eee;
  border-radius: 100px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: .2s; }

#switch:checked + .lbl::after, #switch1:checked + .lbl::after, #switch3:checked + .lbl::after, #switch4:checked + .lbl::after, #switch2:checked + .lbl::after, #switch5:checked + .lbl::after, #switch6:checked + .lbl::after, #switch7:checked + .lbl::after {
  left: 35px; }

#switch:checked + .lbl, #switch1:checked + .lbl, #switch3:checked + .lbl, #switch4:checked + .lbl, #switch2:checked + .lbl, #switch5:checked + .lbl, #switch6:checked + .lbl, #switch7:checked + .lbl {
  background: #00C8B1; }

#switch, #switch1, #switch3, #switch4, #switch2, #switch5, #switch6, #switch7 {
  display: none; }

.giros, .prestamos {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap; }

.moneda {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  text-align: center; }

.cantidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin: 25px 35% 25px 35%; }

.prestamos {
  font-size: 20px; }

.cuotas {
  padding: 30px; }

.img {
  box-shadow: 2px 5px 5px;
  padding: 5px;
  margin-bottom: 40px; }

.cv, .cuenta {
  width: 50%;
  padding: 35px;
  margin: 5% 25% 0% 25%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center; }
  .cv .saldo, .cuenta .saldo {
    padding-bottom: 50px; }

.menu-icon img {
  width: 30px;
  height: 30px;
  border-radius: 2px; }

.menu-icon, #navBar {
  display: none; }

.carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  padding: 20px;
  object-fit: cover; }

.column {
  display: flex;
  flex-direction: column;
  margin: 3px;
  justify-content: center; }

footer {
  color: #DBDFFD;
  display: flex;
  justify-content: center;
  background-color: #242f9b;
  font-size: 50px;
  padding: 50px 0px 0px 0px;
  margin-top: 5rem;
  justify-content: space-evenly; }
  footer .redesSociales {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none; }

h1 {
  height: 10%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: #242f9b;
  color: #DBDFFD;
  font-size: 60px;
  padding: 70px; }

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px 50px 5px 50px; }

h3 {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px; }

.mail {
  max-width: 100%;
  padding: 160px 0px 300px 0px;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 25px; }

.consultas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.boton {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 15px; }

.confirm1, .confirm2 {
  background-color: whitesmoke;
  border-radius: 80px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.confirm1:hover {
  background-color: #00C8B1; }

.confirm2:hover {
  background-color: #e74747; }

.cuotas {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: column; }

.pago {
  margin: 10px 25% 10px 25%; }

@media (max-width: 996px) {
  .checkbtn {
    display: block; }
  .menu-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 60px;
    z-index: 1; }
  .nav-menu ul {
    display: block;
    position: fixed;
    top: 140px;
    left: -100%;
    width: 100%;
    height: 82vh;
    right: 0;
    z-index: 1; }
  .nav-menu ul li {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
    background: none;
    z-index: 1; }
  #navBar:checked ~ ul {
    left: 0;
    transition: all .25s; }
  .prestamos {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    flex-wrap: wrap; }
    .prestamos .selec {
      margin-bottom: 50px; }
  .giros, .prestamos {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  .cuenta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .cv, .cuenta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .card {
    width: 20rem; }
    .card .card-text {
      font-size: 18px; }
  .saldo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .moneda {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 35px;
    margin-top: 2.5rem; }
  h1 {
    font-size: 45px;
    padding: 50px; }
  h2 {
    font-size: 20px; } }

@media (max-width: 576px) {
  h1, .grilla li a, footer {
    color: #242f9b;
    background-color: #DBDFFD; }
  .grilla {
    background-color: #DBDFFD; }
  .img {
    width: 16rem; }
  .mb-3 {
    margin: 0px 10px 0px 10px; }
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 25px 0px 25px; }
  .boton {
    font-size: 1rem; } }
