*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width:500px) {
    .grilla{
    grid-template-areas: 
    "nombre"
    "texto"
    "home"
    "prestamos"
    "compra"
    "giros"
    "cuentas"
    "contacto"
    "footer";
    grid-template-columns: auto;
    
    }
}
body{
    background-color: darkorchid;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
   
}

@media (min-width:780px) {
    .grilla{
    grid-template-areas: 
    "nombre nombre"
    "texto texto"
    "home home"
    "prestamos compra"
    "giros cuentas"
    "contacto contacto"
    "footer footer";
    grid-template-columns: auto;
    
    }
}
.grilla{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns:auto auto auto auto auto;
    grid-template-rows:auto auto auto auto auto;
    grid-template-areas:
    "nombre nombre nombre nombre nombre"
    "texto texto texto texto texto"
    "home home home home home"
    "prestamos compra giros cuentas contacto"
    "footer footer footer footer footer";
    gap: 15px;
}

.marca{
    grid-area: nombre;
    text-align: center;
    justify-content: center;
    background-color: crimson;
    padding: 30px 0px 30px 0px;
    border: 15px solid rgba(255, 0, 0, 0.849);
}

div.home{
    grid-area: home;
    text-align: center;
    background-color: blue;
}
div.compraVenta{
    grid-area: compra;
    background-color: brown;
}
div.prestamos{
    grid-area: prestamos;
    background-color: burlywood;
}
div.giros{
    grid-area: giros;
    background-color: darkcyan;
}
div.cuentas{
    grid-area: cuentas;
    background-color: darkgreen;
}
div.contacto{
    grid-area: contacto;
    background-color: crimson;
}
   
body{
    background-image: url(../img/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
   }

.textoInicio{
    grid-area: texto;
    background-color: rgb(180, 221, 105);
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.redesSociales{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer{
    grid-area: footer;
    justify-content:center;
    font-size: 150%;
    background-color: aquamarine;
    padding: 30px;
    margin-top: 20%
}
nav ul{
    text-align: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px;
    font-size: 200%;
}
.home:hover{
    transform: scale(1.2);
    transition: all 2s;
}
.compraVenta:hover{
    transform: translateY(90px);
    transition: all 3s;
}
.giros:hover{
    transform: translateY(90px);
    transition: all 3s;
}
.prestamos:hover{
    transform: translateY(90px);
    transition: all 3s;
}
.cuentas:hover{
    transform: translateY(90px);
    transition: all 3s;
}
.contacto:hover{
    transform: translateY(90px);
    transition: all 3s;
}

