.grilla{
    list-style-type: none;
    width: 100%;
    @include flex(space-evenly, center, nowrap);
    flex-direction: row;
    font-size: 25px;
    background-color: rgb(111, 111, 204);
    li a{
        text-decoration: none;
        color: $font-principal;
    }
    
}
li:hover{
    background: blue;
    transition: all 1s;
}